/* Reset some default styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #000; /* should make the page start out with a back background*/
}

/* Background styles */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000; /* Set initial background color to black */
  opacity: 0; /*change opacity to 0 */
  z-index: -1;
  transition: opacity 0.5s ease;
}

/* Navigation styles */
nav {
  background: rgba(0, 0, 0, 0);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: background 0.5s ease;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #a8dadc;
}

/* Section styles */
section {
  position: relative;
  z-index: 1;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

section h2 {
  margin-bottom: 20px;
}
/* first header (welcome...)*/
section#home h1 {
  color: #fff;
}
/* Paragraph text under heading 1 (Beautifully...)*/
section#home p {
  color: #fff;
}


/* Form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input, textarea {
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
}

button {
  padding: 10px 20px;
  background: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Footer styles */
footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}
